.set-password .submit-a{
  width: 80%;
  margin: 0 auto;
}
.set-password>div:nth-child(2){
  padding: 1em;
  margin-bottom: 10em;
}
.set-password>div input {
  width: 100%;
  line-height: 2em;
  margin-bottom: 1em;
  outline: none;
  text-indent: 1em;
}
.set-password{
  background-color: #fff;
  padding-bottom: 8em;
}
