.system-title{
  padding: 1.5em;
}
.system-title>span{
  display: block;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  line-height: 2em;
  border-radius: 6px;
  background:rgba(0,0,0,0.6);
}
.system>div:nth-child(3){
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
}
.system>div h2{
  font-size: 1em;
  padding-bottom: 6em;
}
.system>div:nth-child(3) p{
  text-indent: 2em;
  font-size: 0.8em;
}
